# You can use the secret_gen.py script to generate a good Secret Key, after
# that, replace the THIS_IS_NOT_A_GOOD_SECRET value below.
SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=celery_db
SQL_HOST=celery_db
SQL_PORT=5432

DJANGO_SETTINGS_MODULE=drf_celery.settings

# This variable is used by swagger.
BASE_URL=http://localhost:5050

CELERY_BROKER=redis://redis:6379

CELERY_BACKEND=redis://redis:6379

CELERY_ENABLED=True